target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
mdvn-pchklst-papi/mvnw.cmd
*.cmd
*.cmd
mdvn-pchklst-papi/mvnw.cmd
mdvn-pchklst-papi/mvnw.cmd
mdvn-pchklst-papi/mvnw.cmd
mdvn-pchklst-sapi/mvnw.cmd
mdvn-reqmnt-papi/mvnw.cmd
mdvn-file-s/.mvn/wrapper/maven-wrapper.properties
mdvn-file-s/.mvn/wrapper/maven-wrapper.jar
mdvn-file-s/mvnw
mdvn-file-sapi/.mvn/wrapper/maven-wrapper.jar
mdvn-file-sapi/.mvn/wrapper/maven-wrapper.properties
mdvn-file-sapi/mvnw
mdvn-file-sapi/.mvn/wrapper/maven-wrapper.jar
mdvn-file-sapi/.mvn/wrapper/maven-wrapper.jar
